{% extends "base.html" %}

{% block content %}
<div class="edit_employee_profile">
<h2>Edit Profile</h2>

<form method="post">
       
    <input type="text" name="full_name" placeholder="Full Name"
           value="{{ profile.full_name or '' }}"><br><br>

    <input type="text" name="phone" placeholder="Phone"
           value="{{ profile.phone or '' }}"><br><br>

    <textarea name="address" placeholder="Address">{{ profile.address or '' }}</textarea><br><br>

    <button type="submit">Save</button>
</form>
</div>

{% endblock %}
